body {
    background-color: rgb(17, 24, 39);
    font-family: sans-serif;
    overflow: hidden;
}

main {
    margin: 80px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1.title {
    margin-bottom: 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

h4 {
    color: rgb(255, 255, 255);
}

div.rules, p.information {
    color: rgb(156 163 175);
    font-weight: normal;
}

table {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    }

.number {
    color: rgb(156 163 175);
    background-color: rgb(31 41 55);
    border: solid;
    border-width: 2px;
    border-radius: 0.5rem;
    border-color: rgb(209 213 219);
}

span.pion {
    font-size: 2.5rem;
    line-height: 20px;
    text-shadow: 0 0 2px black;
}

.tab {
    color: white;
}

table tr {
    height: 30px; 
    /* La hauteur des lignes est de 30 pixel ( donnée obtenu grâce au DevTools )
    Cela permet de "rendre visible" les lignes vides
    et de ne pas comprimer le jeu */
}

.pion.blanc {
    color: white;
}

.pion.rouge {
    color: red;
}

p.error {
    color: red;
    font-weight: 700;
}

select {
    font-size: 1rem;
    color: white;
    border: solid;
    border-color: rgb(156 163 175);
    border-radius: 0.5rem; 
    background-color: rgb(31 41 55);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

input {
    border: none;
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(59 130 246);
}

input:hover {
    background-color: rgb(37 99 235);;
}

input:focus {
    background-color: rgb(29 78 216);
}